.navbar{
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  width :1686px;
  height: 112px;
  padding-top: 40px;
  font-weight: bold;
}

.links{
  display: flex;
  justify-content: space-evenly;
  padding-top:20px;
  padding-bottom:40px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  font-size:medium;
}


a:hover{
  color: blue;
}

.hero {
  height: 500px;
  width:100%;
  background-image:linear-gradient(lightgrey,grey);
  font-size: 100px;
}

#Portfolio {
  font-size:28px;
  font-weight:400;
  font-family: "Playfair Display", serif ;
}

#wlcmtext {
  width:fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 100px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  color: black;
  margin-left: 150px;
}
 
.image{
  background-color: black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.name {
  font-size:30px;
  margin-left: 200px;
  display: block;
  width: 177px;
  font-family: "Zain", sans-serif;
  font-weight: 400  ;
  font-style:normal;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid black;
  border-radius: 50px;
  margin-bottom: 100px;
}


.who {
  font-size: 100px;
  padding: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  display: inline-block;
  font-family: "EB Garamond", serif;
  margin-left: 150px;
  margin-top: 150px;
}

.info {
  font-size: 44px;
  width: 1000px;
  margin-left: 150px;
  margin-top: 200px;
}

footer{
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}