.navbar{
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  width :1686px;
  height: 112px;
  padding-top: 40px;
  font-weight: bold;
}
  
.links{
  display: flex;
  justify-content: space-evenly;
  padding-top:20px;
  padding-bottom:40px;
  font-weight: normal;
}
  
a {
  text-decoration: none;
  color: black;
  font-size:medium;
}
  
  
a:hover{
  color: blue;
}
  
.hero {
  height: 900px;
  width:100%;
 background-image: linear-gradient(lightgrey,grey,darkgrey,black);
}


#Portfolio {
  font-size:28px;
  font-weight:400;
  font-family: "Playfair Display", serif ;
}


  footer{
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.myart{
  font-size: 70px;
  padding-left: 150px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: "Playfair Display", serif ;
  display: block;
}

/* 260 180 */
.image-section{
  display: flex;
  justify-content: space-evenly;
}


.box1{
  height: 500px;
  width: 360px;
  background-color: white;
  background-image:url(wefox.jpg);
  background-size: cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box2{
  height: 500px;
  width: 340px;
  background-color: white;
  background-image:url(acmshirt.jpg);
  background-size: cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.box3{
  height: 500px;
  width: 400px;
  background-color: white;
  background-image:url(coffee-kettle.jpg);
  background-size: cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.box4{
  height: 500px;
  width: 380px;
  background-color: white;
  background-image:url(ass-chair.jpg);
  background-size: cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .container{
  height: 400px;
  width: 400ppx;
  background-color: white;
  border: 2px solid black;
} */